@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Idroid';
  src: url("../fontes/idroid.otf") format("opentype");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Idroid', cursive;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

header {
  text-align: center;
  min-height: 150px;
  padding-top: 40px;
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
  font: 3em var(--fonte-destaque);
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.275);
}

header > p {
  font-size: 1.2em;
  text-align: center;
  color: white;
  max-width: 600px;
  padding: 0 10px 30px;
  margin: 0 auto;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.315);
}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.200);
}

nav > a {
  font-weight: bold;
  color: var(--cor1);
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: .4s;
}

nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

main {
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

main h1 {
  font: normal 1.8em var(--fonte-android);
  color: var(--cor5);
}

main h2 {
  font: 1.3em var(--fonte-android);
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor1), transparent);
  padding-left: 10px;
}

main p {
  font-size: 1.05em;
  margin: 15px 0;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
}

main strong {
  color: var(--cor4);
}

main a {
  font-weight: bold;
  text-decoration: none;
  background-color: var(--cor1);
  color: var(--cor5);
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--cor3);
  color: var(--cor4);
}

.externo::after {
  content: '\00a0\1f517';
}

main img {
  width: 100%;
}

.pequena {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

div.video {
  background-color: var(--cor5);
  margin: 0 -20px 30px;
  padding: 20px;
  padding-bottom: 58%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside > ul {
  list-style-position: inside; /* nao e compativel com todos os navegadores */
  list-style-type: '\2714\00a0\00a0';
  columns: 2;
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: -10px -10px 0 -10px;
}

footer {
  font-size: .8em;
  text-align: center;
  background-color: var(--cor5);
  color: white;
  padding: 5px;
  margin-top: 20px;
}

footer a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}